body {

}

.row {
    text-align: center;
}

.starter-template {
    /*padding: 0 1.5rem;*/
    text-align: center;
}

.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    /*text-shadow: 2px 2px #000;*/
}

.bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
    background-image: url("/images/banner.jpg");

}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.feature-card {
    width: 31%;
    float: left;
    margin: 10px 10px;
}

.feature-card i {
    margin-top: 15px;
}

.card-image {
    font-size: 60px;
    color: #007bff;
}
